<% content_for :head do %>
<title><%= @type %> - ランキング</title>
<meta name="description" content="<%= @type %>のランキングページ。<%= @type %>数の多いものから１０件のモノを表示しています">
<% end %>

<% @rankings.each_with_index do |(item,count), rank| %>
  <% if item != nil %>
    <div id="item-<%= rank %>" class="ranking-items" >
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <h1>No.<%= rank %>:<%= @ranking_item.find(item).title %></h1>
          <h2>
          <% if type = "have" %>
            Have:<%= count %>
          <% else %>
            Want:<%= count %>
          <% end %>
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <% if @ranking_item.find(item).large_image.present? %>
            <%= link_to(image_tag(@ranking_item.find(item).large_image, class: "img-rounded", alt: @ranking_item.find(item).title ), @ranking_item.find(item)) %>
          <% else %>
            <%= image_tag("no-image.png" , alt: @ranking_item.title) %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>